@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "User Settings";
}

@using Microsoft.AspNet.Identity;
@using Microsoft.AspNet.Identity.EntityFramework;
@using YAT.Models;
@using DataLayer;
@using System.Data.Entity;



<h2>User Settings</h2>
<!DOCTYPE html>
<html>
<head>
    <title>Edit Profile</title>
</head>
<body>
    <form method="post">
        <div class="text-center">
            <fieldset>
                @{
                    if (Request.IsAuthenticated)
                    {
                        var manager = new UserManager<ApplicationUser>(new UserStore<ApplicationUser>(new ApplicationDbContext()));
                        var currentUser = manager.FindById(User.Identity.GetUserId());
                        var UserProfile = new User();
                        UserProfile.Id = currentUser.Id;

                        using (var db = new YATContext())
                        {
                            var users = from user in db.User where user.Id == UserProfile.Id select user;

                            foreach (var user in users)
                            {

                                <legend>  This Page Is Meant To Edit The Profile of the User </legend>
                                <div>
                                    <img src="http://placehold.it/512x384"> <br /> <br />
                                </div>
                                <div>
                                    <label for="FirstName">First Name:</label>
                                    <input type="text" name="FirstName" value="@user.FirstName" /> <br /> <br />
                                </div>
                                <div>
                                    <label for="LastName">Last Name:</label>
                                    <input type="text" name="LastName" value="@user.LastName" /> <br /> <br />
                                </div>
                                <div>
                                    <label for="Age">Age:</label>
                                    <input type="text" name="Age" value="@user.Age" /> <br /> <br />
                                </div>
                                <div>
                                    <label for="Gender">Gender:</label>
                                    <select name="Gender">
                                        <option value="true">Male</option>
                                        <option value="false">Female</option>
                                    </select>  <br /> <br />
                                </div>
                                <div>
                                    <label for="InterestedIn">Interested In:</label>
                                    <select name="InterestedIn">
                                        <option value="false">Female</option>
                                        <option value="true">Male</option>
                                    </select>   <br /> <br />
                                </div>
                                <div>
                                    <label for="RegistrationDate">Registration Date:</label>
                                    <input type="text" name="RegistrationDate" value="@user.RegistrationDate.ToShortDateString()" /> <br /> <br />
                                </div>
                                <div>
                                    <label for="Address">Address:</label>
                                    <input type="text" name="Address" value="@user.Address" /> <br /> <br />
                                </div>
                                <div>
                                    <label>&nbsp;</label>
                                    <input type="submit" value="Update" class="submit" /> <br /> <br />
                                </div>

                                db.Entry(user).CurrentValues.SetValues(user);
                                db.Entry(user).State = EntityState.Modified;


                            }

                            db.SaveChanges();

                        }

                    }
                }

            </fieldset>

        </div>
    </form>
</body>
</html>





