@model IEnumerable<DataLayer.Message>

@{
    ViewBag.Title = "Inbox";
}
<head>
    <title></title>
    <link href="@Url.Content("~/Styles/MessagingStyle.css")" rel="stylesheet" type="text/css" />
</head>
<h2>Index</h2>
<table class="table">
    <tr>
        <th>
            From
        </th>
        <th>
            To
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <img id="InboxPic" src=/Pics/@item.From/@item.From.Photo />
            @{
                @Html.DisplayFor(modelItem => item.From.FirstName)
            }
        </td>
        <td>
            @{
                @Html.DisplayFor(modelItem => item.To.FirstName)
            }
        </td>
        <td>
            @(item.Text.Substring(0,Math.Min(item.Text.Length, 10))+"...")
        </td>
        <td>
            @Html.ActionLink("Read", "Read", new { id=item.Id } ) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
