@model IEnumerable<DataLayer.Message>

@{
    ViewBag.Title = "Conversation";
}
<head>
    <title></title>
    <link href="@Url.Content("~/Styles/MessagingStyle.css")" rel="stylesheet" type="text/css" />
</head>
<h2>Conversation Between @(Model.ElementAt(0).From.FirstName) and Me</h2>

<table class="table">
@foreach (var item in Model)
{
    <tr>
            <td>
                <img id="InboxPic" src=/Pics/@item.From/@item.From.Photo />
                @(item.From.FirstName + ":\n")
                @Html.DisplayFor(modelItem => item.Text)
            </td>
    </tr>
}
</table>
       @using (Html.BeginForm("Read", "Messages", FormMethod.Post))
       { 
            <input type="text" id="text" name="text"/>
            <input type="submit" value="Send" class="btn btn-default" /> 
        }
    <p>
        @Html.ActionLink("Back", "Index")
    </p>
