@model IEnumerable<DataLayer.Message>

@{
    ViewBag.Title = "Conversation";
}
<head>
    <title></title>
    <link href="@Url.Content("~/Styles/MessagingStyle.css")" rel="stylesheet" type="text/css" />
</head>
<h2>Conversation Between @(Model.ElementAt(0).From.FirstName) and @(Model.ElementAt(0).To.FirstName)</h2>

<table class="table">
@foreach (var item in Model)
{
    <tr>
            <td>
                <a href=@HttpContext.Current.Request.Url.GetLeftPart(UriPartial.Authority)@Url.Content("~/UserProfile/UserProfile/?userID=" + @item.FromId)>
                    <img id="InboxPic" src=~/Pics/@item.From.Photo />
                 </a>
                 @(item.From.FirstName + ":\n")
                 @Html.DisplayFor(modelItem => item.Text)
            </td>
    </tr>
}
</table>
       @using (Html.BeginForm("Read", "Messages", FormMethod.Post))
       { 
            <input type="text" id="text" name="text"/>
            <input type="hidden" id="hidden" name="hidden" value="@Model.ElementAt(0).Id">
            <input type="submit" value="Send" class="btn btn-default" /> 
       }
    <p>
        @Html.ActionLink("Back", "Index")
    </p>
