@model IEnumerable<DataLayer.User>

@{
    ViewBag.Title = "Search Page";
}

<div class="jumbotron">
    <h1>Search Users</h1>
    <p>Local time is @DateTime.Now.ToString("hh:mm:ss")</p>


    @using (Html.BeginForm("Index", "Search", FormMethod.Post))
    {
    <p1>Find </p1>
    @Html.DropDownList("FindGender", new SelectList(new[] { "Men","Women"}))
    <p1> looking for </p1>
    @Html.DropDownList("LookForGender", new SelectList(new[] { "Men", "Women" }))
    <p1> Minimum Age: </p1>
    <input class="smallBox" name="minAge" type="number" min="18" max="100" value=@ViewBag.minAge />
    <p1> Maximum Age:</p1>
    <input class="smallBox" name="maxAge" type="number" min="18" max="100" value=@ViewBag.maxAge />

    <p1>Zipcode:</p1>
    <input class ="ZipBox" name="address" type="text" max="99999" value=@ViewBag.address />
    <p1> Sort by:</p1>
    @Html.DropDownList("sortVal", new SelectList(ViewBag.sortOptions))
        
    <input type="submit" value="Find!" class="btn btn-default" />
    }
</div>


<div class="searchcontainer">
    <h1>Users Found: @Model.Count()</h1>
    @foreach (var item in Model)
    {
            <div class="productbox">

                <h3 class="itemcenter">@item.FirstName</h3>
             
                <a href=@("/UserProfile/UserProfile/?userID=" + item.Id)>   <img class="itemcenter"  src="@Url.Content(item.Photo)" />  </a>
                <span class="itemcenter">@item.Age</span>
                @*@Html.Hidden("Id", @item.Id)*@
  
            </div>

     }

</div>
