@{
    ViewBag.Title = "Analytics";
}
<h2>@ViewBag.Title</h2>

<script>
    var movieRank          = JSON.parse('@Html.Raw(Json.Encode(ViewData["movieRank"]))');
    var genderCount        = JSON.parse('@Html.Raw(Json.Encode(ViewData["genderCount"]))');
    var ageRank            = JSON.parse('@Html.Raw(Json.Encode(ViewData["ageRank"]))');
    var registrationMonths = JSON.parse('@Html.Raw(Json.Encode(ViewData["registrationMonths"]))');
    var zipCount           = JSON.parse('@Html.Raw(Json.Encode(ViewData["stateCount"]))');
</script>

<script src="~/Scripts/d3.min.js"></script>
<script src="~/Scripts/d3.layout.cloud.js"></script>
<script src="~/Scripts/topojson.min.js"></script>
<script src="~/Scripts/datamaps.usa.min.js"></script>

Results as of @DateTime.Now.ToString()
<div id="movieRank"></div>
<table>
    <tr>
        <th colspan="2">Movie Ranks</th>
    </tr>
    @foreach (var item in ViewData["movieRank"] as IEnumerable<BusinessLayer.StringRow>)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.value)
            </td>
        </tr>
    }
</table>
<div id="genderCount"></div>
<table>
    <tr>
        <th colspan="2">Gender Count</th>
    </tr>
    @foreach (var item in ViewData["genderCount"] as IEnumerable<BusinessLayer.BoolRow>)
    {

        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.value)
            </td>
        </tr>
    }
</table>
<div id="ageRank"></div>
<table>
    <tr>
        <th colspan="2">Age Count</th>
    </tr>
    @foreach (var item in ViewData["ageRank"] as IEnumerable<BusinessLayer.IntRow>)
    {

        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.value)
            </td>
        </tr>
    }
</table>
<div id="registrationMonths"></div>
<table>
    <tr>
        <th colspan="2">Registration Month Rank</th>
    </tr>
    @foreach (var item in ViewData["registrationMonths"] as IEnumerable<BusinessLayer.IntRow>)
    {

        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.value)
            </td>
        </tr>
    }
</table>
<div id="stateCount" style="position: relative; width: 900px; height: 500px;"></div>
<table>
    <tr>
        <th colspan="2">Address Rank</th>
    </tr>
    @foreach (var item in ViewData["stateCount"] as IEnumerable<BusinessLayer.StringRow>)
    {

        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.value)
            </td>
        </tr>
    }
</table>

<script src="~/Scripts/genderCount.js"></script>
<script src="~/Scripts/registrationMonths.js"></script>
<script src="~/Scripts/movieRank.js"></script>
<script src="~/Scripts/stateCount.js"></script>
<script src="~/Scripts/ageRank.js"></script>