@{
    ViewBag.Title = "Analytics";
}
<h2>@ViewBag.Title</h2>

<script>
    var movieRank          = JSON.parse('@Html.Raw(Json.Encode(ViewData["movieRank"]))');
    var genderCount        = JSON.parse('@Html.Raw(Json.Encode(ViewData["genderCount"]))');
    var ageRank            = JSON.parse('@Html.Raw(Json.Encode(ViewData["ageRank"]))');
    var registrationMonths = JSON.parse('@Html.Raw(Json.Encode(ViewData["registrationMonths"]))');
    var zipCount           = JSON.parse('@Html.Raw(Json.Encode(ViewData["zipCount"]))');
</script>

<table>
    <tr>
        <th colspan="2">Movie Ranks</th>
    </tr>
    @foreach (var item in ViewData["movieRank"] as IEnumerable<BusinessLayer.StringRow>)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.value)
            </td>
        </tr>
    }
</table>
<table>
    <tr>
        <th colspan="2">Gender Count</th>
    </tr>
    @foreach (var item in ViewData["genderCount"] as IEnumerable<BusinessLayer.BoolRow>)
    {

        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.value)
            </td>
        </tr>
    }
</table>
<table>
    <tr>
        <th colspan="2">Age Count</th>
    </tr>
    @foreach (var item in ViewData["ageRank"] as IEnumerable<BusinessLayer.IntRow>)
    {

        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.value)
            </td>
        </tr>
    }
</table>
<table>
    <tr>
        <th colspan="2">Registration Month Rank</th>
    </tr>
    @foreach (var item in ViewData["registrationMonths"] as IEnumerable<BusinessLayer.IntRow>)
    {

        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.value)
            </td>
        </tr>
    }
</table>
<table>
    <tr>
        <th colspan="2">Address Rank</th>
    </tr>
    @foreach (var item in ViewData["zipCount"] as IEnumerable<BusinessLayer.StringRow>)
    {

        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.value)
            </td>
        </tr>
    }
</table>


@using (Html.BeginForm("FileUpload", "Analytics", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <label for="file">Upload Image:</label>
    <input type="file" name="file" id="file" style="width: 100%;" />
    <input type="submit" value="Upload" class="submit" />
}

@using DataLayer;
@{
    var user = (Model as DataLayer.User);
    <img src=/Pics/@user.Id/@user.Photo />
}
