@model DataLayer.User

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "User Settings";
}

@using Microsoft.AspNet.Identity;
@using Microsoft.AspNet.Identity.EntityFramework;
@using YAT.Models;
@using DataLayer;
@using System.Data.Entity;

<h2>User Settings</h2>
<!DOCTYPE html>
<html>
<head>
    <title>Edit Profile</title>
</head>
<body>
   @using (Html.BeginForm("Edit", "UserProfile", FormMethod.Post))
   {   <div class="text-center">
            <fieldset>
                @{
       if (Request.IsAuthenticated)
       {
           var currentUser = (Model as DataLayer.User);
            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.LastLoginDate)
            @Html.HiddenFor(model => model.RegistrationDate)
                                <legend>  This Page Is Meant To Edit The Profile of the User </legend>
                                <div>
                                    <img src="/Pics/@currentUser.Photo"> <br /> <br /><br /> <br />
                               </div>
                                <div>
                                    <label for="FirstName">First Name:</label>
                                    <input type="text" name="FirstName" value="@currentUser.FirstName" /> <br /> <br />
                                </div>
                                <div>
                                    <label for="LastName">Last Name:</label>
                                    <input type="text" name="LastName" value="@currentUser.LastName" /> <br /> <br />
                                </div>
                                <div>
                                    <label for="Age">Age:</label>
                                    <input type="text" name="Age" value="@currentUser.Age" /> <br /> <br />
                                </div>
                                <div>
                                    <label for="Gender">Gender:</label>
                                    <select name="Gender">
                                        <option value="true">Male</option>
                                        <option value="false">Female</option>
                                    </select>  <br /> <br />
                                </div>
                                <div>
                                    <label for="InterestedIn">Interested In:</label>
                                    <select name="InterestedIn">
                                        <option value="false">Female</option>
                                        <option value="true">Male</option>
                                    </select>   <br /> <br />
                                </div>
                                <div>
                                    <label for="Address">Zip Code:</label>
                                    <input type="text" name="Address" value="@currentUser.Address" /> <br /> <br />
                                </div>
                                <div>
                                    <label>&nbsp;</label>
                                    <input type="submit" value="Save" class="btn btn-default" /> <br /> <br />
                                </div>
                                <div>
                                @Html.ActionLink("Back to List", "UserSettings")
                                </div>
                    }
            }

            </fieldset>

        </div>
   }
    @using (Html.BeginForm("FileUpload", "UserProfile", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <label for="file">Upload Image:</label>
        <input type="file" name="file" id="file" style="width: 100%;" />
        <input type="submit" value="Upload" class="submit" />
    }
   
</body>
</html>








