@model DataLayer.User
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "User Profile";
}

@using Microsoft.AspNet.Identity;
@using Microsoft.AspNet.Identity.EntityFramework;
@using YAT.Models;
@using DataLayer;

<h2>User Profile</h2>
<!DOCTYPE html>
<html>
<head>
    <title>User Profile</title>

    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>

</head>
<body>
        <div class="text-center">
            <fieldset>
                @{
                    if (Request.IsAuthenticated)
                    {
                        var currentUser = (Model as DataLayer.User);
                        <legend>  This Page Contains The Details Of The User </legend>
                        <div>
                            <img id ="bigPic" src="/Pics/@Model.Photo"> <br /> <br />
                        </div>
                           if (User.Identity.GetUserId() != @currentUser.Id)
                           {
                            <div>
                                <label>&nbsp;</label>
                            </div>
                            <div>
                                @using (Html.BeginForm("SendMessage", "UserProfile", FormMethod.Post))
                                {
                                    <input type="text" id="text" name="text" />
                                    <input type="hidden" id="hidden" name="hidden" value=@Model.Id />
                                    <input type="submit" value="Message" class="btn btn-default" />
                                }
                             
                            </div>
                         using (Html.BeginForm("UpdateConnection", "UserProfile", FormMethod.Post))
                             {  <div>
                                <label>&nbsp;</label>
                         
                          
                                <input type="hidden" id="ToUser" name="ToUser" value=@Model.Id />
                                    <input disabled=@ViewBag.Blocked name="buttonName" type="submit" value="Block" class="btn btn-default" /> <br /> <br />
                                    </div>
                                    <div>
                                        <label>&nbsp;</label>
                                        <input disabled=@ViewBag.Hidden    name="buttonName"  type="submit" value="Hide" class="btn btn-default" /> <br /> <br />
                                    </div>
                            
                                }
                           }
                             <div>
                                 <label for="FirstName">First Name:</label>
                                 @currentUser.FirstName <br /> <br />
                             </div>
                         <div>
                         <label for="LastName">Last Name:</label>
                          @currentUser.LastName <br /> <br />
                            </div>
                            <div>
                             <label for="Age">Age:</label>
                             @currentUser.Age <br /> <br />
                        </div>
                        <div>
                         <label for="Gender">Gender:</label>
                         @(currentUser.Gender ? "Male" : "Female") <br /> <br />
                        </div>
                         <div>
                        <label for="InterestedIn">Interested In:</label>
                        @(currentUser.InterestedIn ? "Male" : "Female") <br /> <br />
                         </div>
                         <div>
                        <label for="RegistrationDate">Registration Date:</label>
                          @currentUser.RegistrationDate.ToShortDateString() <br /> <br />
                        </div>
                        <div>
                            <label for="Address">Zip Code:</label>
                            @currentUser.Address <br /> <br />
                        </div>                        
                        <div>
                        <h2> Like Section </h2> <br /> <br />
                        </div>

                         <div>
                             <label> This is what the zip code looks like on Google Maps: </label> <br/> <br/>

                             <iframe src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCfd2VO8YTOEmmqdBr4FCl4GRbnarDbnK8&q=@currentUser.Address" width=" 600" height="450" frameborder="0" style="border:0"></iframe> <br /> <br/>

                         </div>
                    
                    }
            }
                
            </fieldset>

        </div>
   

</body>
</html>

